
body{
    background-color:lightcyan;
}
.heading{
    background-color: aqua;
    font-size: 100px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding:20px;
}
.general{
    padding: 10px;
    font-size:70px;
    text-align:center;
    background-color: lightcoral;
    font-family: 'Dosis', sans-serif;
}
.source-card{
    font-family: 'Ubuntu', sans-serif;
    padding:20px;
    margin:20px;
   background-color: lightgrey;
}
li{
    display: inline;
}
h3{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100px;
}
a{
    font-weight: bolder;
}
a:hover{
    color:green;
    font-weight: bolder;
}
.article{
    font-family: 'Ubuntu', sans-serif;
    background-color: lightcyan;
}


