
{% import 'macros.html' as macro%}
{% extends 'bootstrap/base.html'%}
{% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

    
{% block content %}
      
        <h3>general News </h3>
        <ul>
            {{ macro.displaySourceList(general)}}
        </ul>
        
        <h3> Business news </h3>
        <ul>
            {{ macro.displaySourceList(business)}}
        </ul>
       
        <h3>Technology news</h3>
        <ul>
            {{ macro.displaySourceList(technology)}}
        </ul>
        <h3>Sports news</h3>
        <ul>
            {{ macro.displaySourceList(sports)}}
        </ul>
{% endblock%}
    </body>
  
</html>